.advantage__list {
  list-style-type: none;
  padding-left: 22px;
  padding-top: 5px;
  margin-bottom: 22px;
}

.advantage__item {
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 2px;
}

.advantage__wrapper {
  width: 208px;
  padding-left: 11px;
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 6px;
  margin-bottom: 12px;
}

.advantage__text {
}

.advantage__svg {
  width: 37px;
  height: 37px;
}

@media (min-width: $tablet-width) {
  .advantage {
    margin-top: 47px;
    margin-bottom: 46px;
  }

  .advantage__list {
    display: flex;
    text-align: center;
  }

  .advantage__item {
    flex-direction: column;
    width: 33.333%;
    &:nth-child(2) {
      order: 1;
    }
  }

  .advantage__wrapper {
    padding-left: 11px;
  }

  .advantage__title {
    font-size: 21px;
    margin-bottom: 21px;
  }

  .advantage__svg {
    width: 75px;
    height: 75px;
    padding-left: 69px;
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .advantage__item {
    padding-left: 62px;
    padding-right: 122px;
  }

  .advantage__svg {
    padding-left: 75px;
  }
}
