.checkbox {
  width: 270px;
  margin: auto;
}

.checkbox__item {
  padding-bottom: 31px;
  padding-top: 24px;
}

.checkbox__input {
  margin-left: 17px;
}

.checkbox__title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding-left: 36px;
}

@media (min-width: $tablet-width) {
  .checkbox {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .checkbox__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    width: auto;
  }

  .checkbox__item {
    width: 25%;
  }
}
