.common-section {
  padding-top: 41px;
  width: 265px;
  text-align: center;
  margin: auto;
  line-height: 26px;
}

.common-section__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

.common-section__text {
  color: #333333;
  padding-top: 12px;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .common-section {
    width: 490px;
  }

  .common-section__title {
    font-size: 21px;
    line-height: 26px;
  }
}
