.copyright {
  text-align: center;
  margin-top: 40px;
}

.copyright__text {
  line-height: 26px;
}

.copyright__logo {
  margin-bottom: -13px;
  padding-left: 11px;
}

.copyright__logo:hover {
  fill: #81b3d2;
}

.copyright__logo:active {
  fill: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-top: -5px;
    margin-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    padding-left: 25px;
  }
}
