.form {
  padding-top: 20px;
}

.form__section {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.form__section-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  width: 246px;
  margin: auto;
  padding-top: 16px;

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #c8c8c8;
    margin-left: -37px;
    margin-top: -19px;
    position: absolute;
  }
}

.form__section-title--left {
  padding-top: 26px;
  padding-bottom: 30px;
}

.form__section-text {
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  background-color: #f2f2f2;
  font-family: "PTSans", "Arial", sans-serif;
  padding: 16px 21px 0 21px;
  margin: 15px 0 0 19px;
  width: 238px;
  height: 145px;
}

.form__section-send {
  margin-left: 19px;
  margin-top: 28px;
  margin-bottom: 34px;
}

.form__section-btn {
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  padding: 15px 48px 18px 46px;
}

.form__section-btn:hover {
  background-color: #669ec0;
}

.form__section-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form__section-btn:disabled {
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__section {
    border-top: 1px solid #e6e6e6;
    width: 100%;
    padding-bottom: 19px;

    &:nth-child(3) {
      width: 49.5%;
      order: -1;
      border-top: 0;
      border-right: 1px solid #e6e6e6;
      padding-bottom: 16px;
    }

    &:nth-child(1) {
      width: 50%;
      border-top: 0;
    }

    &:nth-child(4) {
      padding-bottom: 14px;
    }

    &:nth-child(6) {
      border-top: 0;
    }
  }

  .form__section-title {
    font-size: 21px;
    width: 287px;
    margin-top: 11px;
    padding: 30px 50px;

    &::before {
      content: none;
    }
  }

  .form__section-title--left {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding-top: 26px;
    padding-bottom: 30px;
    margin-left: 0;
    margin-top: 26px;
  }

  .form__section-title--right {
    padding: 0;
    text-align: left;
    padding-left: 10px;
    margin-top: 26px;
    width: 220px;
  }

  .form__section-text {
    padding: 16px 21px 0 21px;
    margin: 24px 0 0 0;
    width: 606px;
    height: 144px;
  }

  .form__section-send {
    margin-top: 29px;
    margin-left: 0;
    margin-bottom: 36px;

    &::after {
      content: "* — обязательные поля";
    }
  }

  .form__section-btn {
    padding: 15px 77px 18px 60px;
    margin-right: 154px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }

  .form__section-title--left {
    margin-top: 12px;
    margin-left: 75px;
  }

  .form__section-title--right {
    margin-left: 20px;
    padding-left: 60px;
  }

  .form__section-text {
    width: 918px;
  }

  .form__section-btn {
    padding: 15px 146px 18px 147px;
    margin-right: 315px;
  }

  .form__section-send {
    margin-top: 26px;
    margin-bottom: 34px;
  }
}
