.page-form {
}

.page-form__title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  width: 260px;
  margin: auto;
  padding-top: 38px;
}

.page-form__text {
  color: #333333;
  line-height: 24px;
  text-align: center;
  width: 277px;
  margin: auto;
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    font-size: 30px;
    width: 439px;
    padding-top: 74px;
  }

  .page-form__text {
    width: 439px;
    padding-top: 31px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__title {
    padding-top: 111px;
  }

  .page-form__text {
    padding-bottom: 13px;
  }
}
