.page-form {
}

.page-form__title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  width: 260px;
  margin: auto;
  padding-top: 38px;
}

.page-form__text {
  color: #333333;
  line-height: 24px;
  text-align: center;
  width: 277px;
  margin: auto;
  padding-top: 27px;
}
