.photo-question {
  text-align: center;
  width: 240px;
  margin: auto;
  padding-bottom: 22px;
}

.photo-question__title {
  font-size: 18px;
  line-height: 26px;
}

.photo-question__text {
  color: #333333;
  line-height: 24px;
  margin-top: 26px;
}
