.photo {
}

.photo__title {
  font-size: 18px;
  text-align: center;
}

.photo__text {
  text-align: center;
  color: #333333;
  width: 271px;
  margin: auto;
}

// .photo__posts {
//   margin: auto;
// }
