.photo {
  margin-top: 41px;
}

.photo__title {
  font-size: 18px;
  text-align: center;
}

.photo__text {
  text-align: center;
  color: #333333;
  width: 271px;
  margin: auto;
  line-height: 24px;
  padding-top: 17px;
}

.photo__posts {
  margin-top: 27px;
  padding-bottom: 33px;
}

.photo__posts::before {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #c8c8c8;
}
