.post {
  margin-left: 20px;
  //background-color: red;
}

.post__picture {
}

.post__title {
  font-size: 14px;
}

.post__author {
  text-transform: none;
  color: #333333;
}

.post__likes {
  font-weight: bold;
}
