.post {
  margin-left: 20px;
  padding-top: 22px;
  line-height: 24px;
  margin-right: 20px;
}

.post__title {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 8px;
}

.post__author {
  margin-top: 0;
  margin-bottom: 6px;
  text-transform: none;
  color: #333333;
}

.post__likes {
  font-weight: bold;
  padding-left: 11px;
}

.post__likes::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #c8c8c8;
  margin-left: -20px;
  margin-top: 17px;
}

@media (min-width: $tablet-width) {
  .post {
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    &:nth-child(1) {
      width: 648px;
    }
  }

  .post__picture {
    height: 267px;
  }

  .post__picture--first {
    width: 648px;
    height: 400px;
  }

  .post__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eaeaea;
    width: 324px;
    min-height: 80px;
    &:nth-child(2) {
      width: 648px;
    }
  }

  .post__text {
    flex-grow: 2;
    padding-left: 20px;
  }

  .post__likes {
    padding-left: 10px;
    padding-right: 30px;
  }

  .post__likes::after {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .post {
    margin-left: 0;
    width: 33.333%;
    &:nth-child(1) {
      width: 1200px;
    }
  }

  .post__picture--first {
    width: 1200px;
    height: 400px;
  }

  .post__content {
    margin-top: -67px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    &:nth-child(2) {
      width: 1200px;
    }
  }

  .post__author {
    color: #ffffff;
  }
}
