.post {
  margin-left: 20px;
  padding-top: 22px;
  line-height: 24px;
}

.post__picture {
}

.post__title {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 8px;
}

.post__author {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: none;
  color: #333333;
}

.post__likes {
  font-weight: bold;
  padding-left: 36px;
}

.post__likes::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #c8c8c8;
  margin-left: -20px;
  margin-top: 17px;
}

@media (min-width: $tablet-width) {
  .post {
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    &:nth-child(1) {
      width: 648px;
    }
  }

  .post__picture {
    &:nth-child(1) {
      width: 648px;
    }
  }

  .post__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eaeaea;
    width: 324px;
    min-height: 80px;
    &:nth-child(2) {
      width: 648px;
    }
  }

  .post__text {
    flex-grow: 2;
  }

  .post__likes {
    padding-left: 0;
  }

  .post__likes::after {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .post {
    margin-left: 0;
    width: 33.333%;
    &:nth-child(1) {
      width: 1200px;
    }
  }

  .post__content {
    margin-top: -70px;
    opacity: 0.3;
  }
}
