.presentation {
  padding-bottom: 40px;
  text-align: center;
}

.presentation__elements {
  width: 280px;
  min-height: 45px;
  background-color:#f2f2f2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.presentation__slider {
  width: 280px;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 45px;
  position: absolute;
  margin-top: -45px;
  &::before {
    content: "";
    width: 235px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.2;
    display: block;
    top: 22px;
    left: 22px;
    position: absolute;
  }
  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: #ffffff;
    display: block;
    top: 19px;
    left: 58px;
    position: absolute;
  }
}

.presentation__btn {
  border: none;
  margin-top: 22px;
  margin-left: 17px;
  margin-right: 15px;
  background-color: #f2f2f2;
}

.presentation__btn:nth-child(3) {
  position: absolute;
  left: 150px;
}

.presentation__btn-svg path {
  fill: #5c6870;
}

.presentation__btn-svg:hover path {
  fill: #333333;
}

.presentation__btn-svg:active path {
  fill: rgba(51, 51, 51, 0.3);
}

.presentation__btn-svg polygon {
  fill: #5c6870;
}

.presentation__btn-svg:hover polygon {
  fill: #333333;
}

.presentation__btn-svg:active polygon {
  fill: rgba(51, 51, 51, 0.3);
}

@media (min-width: $tablet-width) {
  .presentation {
    margin-top: 38px;
    padding-bottom: 36px;
  }

  .presentation__img {
    width: 648px;
    height: 500px;
  }

  .presentation__elements {
    width: 648px;
    height: 93px;
    margin-top: -98px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__slider {
    margin-top: 0;
    width: 400px;
    position: relative;
    min-height: 55px;
    background-color: rgba(0, 0, 0, 0);
    &::before {
      width: 389px;
      top: 45px;
      left: 9px;
    }
    &::after {
      top: 41px;
      left: 121px;
    }
  }

  .presentation__btn {
    margin-top: 36px;
    margin-bottom: 37px;
    padding: 0;
    margin-right: 41px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .presentation__btn:nth-child(3) {
    position: relative;
    left: 0;
    margin-right: 0;
    margin-left: 3px;
  }

  .presentation__btn:nth-child(2) {
    order: -1;
    margin-left: 34px;
    margin-right: 0;
  }

  .presentation__btn-svg path {
    fill: #ffffff;
  }

  .presentation__btn-svg:hover path {
    fill: rgba(255, 255, 255, 0.6);
  }

  .presentation__btn-svg:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  .presentation__btn-svg polygon {
    fill: #ffffff;
  }

  .presentation__btn-svg:hover polygon {
    fill: rgba(255, 255, 255, 0.6);
  }

  .presentation__btn-svg:active polygon {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    padding-bottom: 73px;
  }

  .presentation__img {
    width: 800px;
    height: 500px;
  }

  .presentation__elements {
    width: 800px;
  }

  .presentation__slider {
    &::before {
      width: 540px;
    }
  }

  .presentation__btn:nth-child(3) {
    position: relative;
    left: 0;
    margin-right: 0;
    margin-left: 155px;
  }
}
