.textbox {
  width: 320px;
  padding-top: 16px;
}

.textbox__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;
}

.textbox__item--contact {
  padding-bottom: 10px;
}

.textbox__title {
  color: #333333;
  line-height: 26px;
  padding-right: 16px;
}

.textbox__title--contact {
  padding-left: 22px;
  padding-bottom: 6px;
}

.textbox__input {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  border: none;
  background-color: #f2f2f2;
  height: 58px;
  flex-grow: 2;
  width: 140px;
  padding-left: 20px;
  font-family: "PT Sans", sans-serif;
}

@media (min-width: $tablet-width) {
  .textbox {
    width: 100%;
  }

  .textbox__title--contact {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .textbox--contact {
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .textbox__item--contact {
    flex-wrap: nowrap;
    width: 500px;
  }

  .textbox__title--contact {
    width: auto;
  }

  .textbox__contact-mark {
    display: none;
  }

  .textbox__input--contact {
    flex-shrink: 1;
    flex-grow: 0;
    width: 257px;
  }
}
