.toggle {
  width: 270px;
  margin: auto;
}

.toggle__item {
  padding-bottom: 39px;
  padding-top: 3px;
}

.toggle__input {
  margin-left: 17px;
}

.toggle__title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding-left: 36px;
}
