.toggle__title {
  position: relative;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding-left: 71px;
}

.toggle__title input[type="radio"] + .toggle__indicator {
  position: absolute;
  top: -14px;
  left: -7px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50px;
}

.toggle__title input[type="radio"]:hover + .toggle__indicator {
  background-color: #e5e5e5;
}

.toggle__title input[type="radio"]:active + .toggle__indicator {
  background-color: #d5d5d5;
}

.toggle__title input[type="radio"]:checked + .toggle__indicator::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  background-color: #333333;
}

.toggle__title input[type="radio"]:checked:active + .toggle__indicator::before {
  opacity: 0.3;
}


.toggle {
  width: 270px;
  margin: auto;
}

.toggle__item {
  padding-bottom: 39px;
  padding-top: 3px;
}

.toggle__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .toggle {
    padding-top: 36px;
    margin-left: 6px;
  }

  .toggle__item {
    padding-bottom: 49px;

    &:nth-child(3) {
      padding-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .toggle__title input[type="radio"] + .toggle__indicator {
    left: -3px;
  }
}
