body {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  min-width: 320px;
  margin: auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  visibility: hidden;
}

.fix-with {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .fix-with {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .fix-with {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}
